.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.acc-details-pages {
  margin: 4rem auto 4rem;

  .two_column {
    vertical-align: top;
    font-weight: 300;
  }

  .two_column.left {
    width: 220px;
    float: left;
  }

  .two_column.right {
    vertical-align: top;
    margin-left: 11px;
    overflow: hidden;
  }

  .two_column .nav_item {
    padding: 15px;
    color: #000000;
    font-size: 14px;
    display: block;
  }

  a {
      text-decoration: none;
      color: #3e3e3e;
  }
}
