.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.waitlist-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.875rem auto;

  .waitlist-card {
    background-color: $body-color-custom;
    border-radius: 5px;
    width: 100%;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    padding: 1.5rem;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 16px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .waitlist-info {
      gap: 0.8rem;
      height: 100%;
    }
    img {
      width: 740px;
      object-fit: cover;
      margin: 0 auto;
    }

    .route-duration{
      margin-bottom: 1rem;
    }
  }

  .map-container {
    height: 100%;

  }
}
