.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.margin-history {
  margin-top: 4rem;
}

.border-c{
  border: var(--bs-border-width) var(--bs-border-style) #00bebd78 !important;
}

.table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: #dedede;
  --bs-table-border-color: #000000;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #000000;
  --bs-table-striped-bg: #f5f5f5;
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

#historic{


  .consulta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;

  }
  hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: #3e3e3e;
  }

  a:hover{
    color: #00B2BD;
  }
}
