.container-consulta {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;

  hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }
}
