// Specific CSS for your home-page
#homepage {
  overflow-x: hidden;
  
  .banner {
    background: url("UrgenciaBackground2.mp4");
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    .container {
      z-index: 50;
    }

    .search-bar {
      padding: 32px;
      background-color: #FFF;
    }
  }

}
