.appointment-new {
  width: 600px;
  margin: 0 auto;
  flex: 3;
  background-color: #ffffffe6;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .confirmation-modal{
    display: none;
  }

  .confirmation-modal.show {
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
      padding: 2rem;
      margin: 8rem auto;
      width: 800px;
      height: fit-content;
      background-color: $body-color-custom;
      border-radius: 10px;
      justify-content: space-between;
    }
  }
}

.background-photo {
  background-image: url("Pain3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#appointment_description {
  padding: 0.5rem;
  height: 6rem;
  display: flex;
  align-items: start;
  text-align: left;
}
