<div id="footer" class="d-flex align-items-center">
  <div class="content d-grid text-center">
    <%= link_to root_path do %>
      <%= image_tag "uo_logo" %>
    <% end %>
    <p class="text-center">All rights reserved © Urgência Online!</p>
  </div>
</div>
