<% @appointments.each do |appointment| %>
  <div class="container">
    <div class="card m-3">
      <%= simple_form_for [appointment] do |f| %>
        <%= f.input :name, as: :string, input_html: { disabled: true, value: "#{appointment.user.first_name} #{appointment.user.last_name}" }, label: "Nome:" %>
        <%= f.input :hospital, as: :string, input_html: { disabled: true, value: appointment.hospital.name }, label: "Hospital:" %>
        <div class="d-flex gap-3">
          <%= f.button :submit, "Finalizar atendimento", class: "btn btn-primary w-100 text-center"%>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
