  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('Banner2.jpg') %>)">
  AJUDA
</div>

<div id="help-page">
  <div class="container square">

    <h2><strong>O Protocolo de Manchester </strong></h2>
    <p>O Protocolo de Manchester é um sistema de triagem utilizado em serviços de emergência para avaliar a gravidade dos pacientes e determinar a ordem de atendimento. Nosso sistema de filas de hospitais se baseia em princípios semelhantes ao Protocolo de Manchester, priorizando o atendimento de acordo com a urgência do quadro de saúde.</p>

    <h2><strong>Perguntas Frequentes </strong></h2>

    <div class="accordion" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> Como funciona o sistema de triagem de pacientes? </strong>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">O nosso sistema de triagem de pacientes é baseado em critérios de prioridade, levando em consideração a gravidade do quadro de saúde. Os pacientes são classificados em diferentes categorias de acordo com a urgência, garantindo que aqueles que necessitam de atendimento imediato sejam atendidos com prioridade.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <strong> Quais são os critérios utilizados para determinar a ordem de atendimento? </strong>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Os critérios utilizados para determinar a ordem de atendimento incluem a gravidade dos sintomas, a presença de condições de risco e a necessidade de intervenção médica imediata. Esses critérios são avaliados por profissionais de saúde treinados, garantindo um atendimento justo e adequado a cada paciente.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <strong> Posso escolher o hospital em que desejo ser atendido? </strong>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Nosso sistema permite que você encontre hospitais próximos à sua localização, facilitando o acesso aos serviços de saúde. No entanto, a escolha final do hospital em que você será atendido pode depender de fatores como a disponibilidade de vagas e a gravidade do seu quadro de saúde.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <strong> Como posso saber o tempo de espera estimado? </strong>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">O tempo de espera estimado pode variar de acordo com a demanda do hospital e a urgência dos casos. Nosso sistema fornece informações atualizadas sobre o tempo de espera, permitindo que você tenha uma estimativa do tempo necessário para ser atendido. No entanto, é importante lembrar que as emergências médicas podem afetar a programação e causar alterações no tempo de espera.</div>
        </div>
      </div>
    </div>

    <%# <div>
      <h2>Objetivo e Missão</h2>
      <p>Nosso objetivo é oferecer uma solução eficiente e transparente para gerenciar as filas de hospitais, priorizando o atendimento com base na gravidade e garantindo que todos os pacientes recebam a assistência necessária de forma justa e ágil. Nossa missão é ajudar o sistema de saúde, melhorar a qualidade de vida das pessoas e proporcionar um acesso mais rápido e eficaz aos serviços médicos essenciais.</p>

      <h2>Parceiros</h2>
      <p>Temos orgulho de contar com a parceria de importantes instituições de saúde, que compartilham nosso compromisso em proporcionar um atendimento de qualidade. Entre nossos parceiros estão hospitais renomados, clínicas especializadas e profissionais de saúde dedicados em oferecer o melhor cuidado aos pacientes.</p>
    </div> %>
  </div>
</div>
