<div id="homepage">
  <div class="banner">
    <%= video_tag "UrgenciaBackground2.mp4", autoplay: true, loop: true, muted: true %>
    <div class="container">
      <h1 class="text-center w-100 search-bar">SEARCH BAR</h1>
    </div>
  </div>

  <div class="hospitals-index">
    <h2 class="text-center">Browse Hospitals</h2>
    <% @hospitals.each do |hospital| %>
      <%= link_to hospital.name, new_hospital_appointment_path(hospital) %>
    <% end %>
  </div>
</div>
