<h2 class="text-center p-3">Histórico do usuário</h2>
<div class="container-historic">
  <table class="table w-75 mx-auto">
      <thead>
        <tr>
          <th rowspan="2" class="wht_date">Data</th>
          <th rowspan="2" class="wht_items">Detalhes</th>
          <th rowspan="2" class="wht_type">Hospital</th>
          <th rowspan="2" class="wht_total">Status</th>
        </tr>
      </thead>
      <% @appointments.each do |appointment| %>
        <tbody>
          <tr>
            <td><%= appointment.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= appointment.description %></td>
            <td><%= appointment.hospital.name %></td>
            <td><%= appointment.done ? "Concluído" : "Em andamento" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
</div>
