<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('account.jpg') %>)">
HISTÓRICO</div>
  <table class="table table-bordered table-striped table w-75 mx-auto border-c border-3 margin-history">
      <thead>
        <tr >
          <th rowspan="2" class="wht_date">Data</th>
          <th rowspan="2" class="wht_type">Hospital</th>
          <th rowspan="2" class="wht_total">Status</th>
        </tr>
      </thead>
      <% @appointments.each do |appointment| %>
        <tbody>
            <tr>
              <td><%= appointment.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= appointment.hospital.name %></td>
              <% if appointment.done %>
                <td>Concluído</td>
              <% else %>
                <td><%= link_to "Em andamento", appointment_path(appointment) %></td>
              <% end %>
            </tr>
          </a>
        </tbody>
      <% end %>
    </table>
</div>
