<h2 class="text-center p-3">Histórico do usuário</h2>
  <table class="table table-success table-bordered table-striped table w-75 mx-auto border border-3">
      <thead>
        <tr >
          <th rowspan="2" class="wht_date">Data</th>
          <th rowspan="2" class="wht_type">Hospital</th>
          <th rowspan="2" class="wht_total">Status</th>
        </tr>
      </thead>
      <% @appointments.each do |appointment| %>
        <tbody>
            <tr>
              <td><%= appointment.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= appointment.hospital.name %></td>
              <% if appointment.done %>
                <td>Concluído</td>
              <% else %>
                <td><%= link_to "Em andamento", appointment_path(appointment) %></td>
              <% end %>
            </tr>
          </a>
        </tbody>
      <% end %>
    </table>
</div>
