<div class="waitlist-page container">
  <div class="waitlist-card">
    <h1>Fila de espera</h1>
    <div class="waitlist-info d-flex justify-content-around">
      <div class="position">
        <p>Sua posição:</p>
        <h2><%= @appointment.position %></h2>
      </div>

      <div class="wait-time">
        <p>Tempo estimado de espera:</p>
        <h2><%= @appointment_queue_duration %></h2>
      </div>
    </div>
    <div class="map-container">
      <div style="width: 100%; height: 600px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
